.projectContainer {
    display: inline-block;
    height: 100vh;
    width: 100%;
    margin-top: 6vh;
    color: white;
}

#headerContainer {
    font-size: 8vh;
    text-align: center;
    mat-divider {
        width: 20%;
        margin: auto;
        height: 50px;
        border-top-width: thick;
    }
}

div#projects {
    display: flex;
    width: 70%;
    margin: auto;
    
}

div.tile {
    display: flex;
    width: 20vw;
    margin: auto;
}


mat-divider {
    border-color: #118292;
}
